
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in cart %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.quantity }}</td>
                <td>${{ "%0.2f" | format(melon.price) }}</td>
                <td>${{ "%0.2f" | format(melon.total_cost) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
